 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 text-justify">
                    <p>Este trabajo fotogr&aacute;fico es un viaje a traves de distintos espacios y distintos momentos, enfocando realidades tangibles, llenas de color, de luz, de texturas y sensaciones. Me interesa capturar sin filtros, me interesan las historias detr&aacute;s de las pequenas muestras de luz capturadas. Pero lo que mas me interesa es que quien mire estas fotograf&iacute;as se imagine detr&aacute;s de esas velas o dentro de la nube de polvo, mirando hacia el horizonte en una playa o con los pies metidos en un r&iacute;o. Mi trabajo es ser la arquitecta de estas im&aacute;genes, construirlas desde lo que ya es y compartir con el habitante mi visi&oacute;n desde este pedacito de mundo.</p>
                </div>
            </div>
        </div>
    </section>
