nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0px;
  padding: 2px;
  font-family: $base-font-family;
  // box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  // background: $background-dark;
  background: white;
  text-transform: capitalize;
  z-index: 2;

  .site-title {
    padding: 2px;
    margin-left: $base-font-size;
    display: inline;
    a {
      color: $text-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .nav-menu {
    text-align: center;
    display: inline;
    float: right;
    .page-link {
      transition: $transition-normal;
      color: $text-color;
      font-size: $base-font-size;
      text-decoration: none;
      padding: 2px 0;
      margin: 0 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@include media-query($on-palm) {
  nav {
    padding: 0px;
    .site-title {
      padding: 0px;
      margin-left: 0px;
      display: block;
      width: 100%;
      text-align: center;
    }
    .nav-menu {
      display: block;
      width: 100%;
      float: none;
      .page-link {
        margin: 0px;
        text-decoration: underline;
      }
    }
  }
}
